{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <title>Document</title>
</head>

<body>
    <h1>My Spectrogram Graph</h1>
    <div id="graph"></div>
    <p id="x">xxx</p>



    <script>
        var graph = document.getElementById('graph');
        var filename = document.getElementById('x');
        // var ctx = canvas.getContext('2d');
        var frequencies = JSON.parse('{{ frequencies|safe }}');
        var times = JSON.parse('{{ times|safe }}');
        var spectrogram = JSON.parse('{{ spectrogram|safe }}');

        // Define the data for the graph
        var data = {
            x: times,
            y: frequencies,
            z: spectrogram,
            type: 'heatmap',
            aspect: 'auto',
            colorscale: 'Rainbow',
            dragmode: 'select'
        };

        // Define the layout for the graph
        var layout = {
            xaxis: { title: 'Time (s)' },
            yaxis: { title: 'Frequency (Hz)' },
            margin: { t: 60 },
            width: 800,
            height: 400,
            font: { size: 16 },
            dragmode: 'select', // set the default dragmode to 'select'
            updatemenus: [
                {
                    buttons: [
                        {
                            args: [{ dragmode: 'select' }],
                            label: 'Select',
                            method: 'relayout',
                        },
                    ],
                    direction: 'left',
                    pad: { r: 10, t: 10 },
                    showactive: true,
                    type: 'buttons',
                    x: 0.1,
                    xanchor: 'left',
                    y: 1.1,
                    yanchor: 'top',
                },
            ],
        };

        // Create the graph
        Plotly.newPlot('graph', [data], layout, {
            toImageButtonOptions: {
                filename: filename,
                width: 800,
                height: 600,
                format: 'png'
            }
        });


        const addLabel = (x, y, label) => {
            return {
                x: x,
                y: y,
                xref: 'x',
                yref: 'y',
                text: label,
                showarrow: false,
                font: { size: 12, color: 'white' }
            }
        }

        // Add the callback function to the plotly_selected event
        graph.on('plotly_selected', function (data) {
            var range = data.range;
            // X
            let leftX = range.x[0]
            let rightX = range.x[1]

            // Y
            let bottomY = range.y[0]
            let topY = range.y[1]
            console.log(data.range)

            annotations = self.layout.annotations || [];
            //  Calculate center point
            let centerX = (range.x[0] + range.x[1]) / 2;
            let centerY = (range.y[0] + range.y[1]) / 2;

            let labelCenter = "<etiqueta>"
            annotations.push(addLabel(centerX, centerY, labelCenter));

            // top left
            let labelTopLeft = `(${leftX.toFixed(2)} , ${topY.toFixed(2)})`
            annotations.push(addLabel(leftX, topY, labelTopLeft))

            // bottom right
            let labelBottomRight = `(${rightX.toFixed(2)} , ${bottomY.toFixed(2)})`
            annotations.push(addLabel(rightX, bottomY, labelBottomRight))

            Plotly.downloadImage('graph', { format: 'png', width: 800, height: 600, filename: 'newplot' });

            Plotly.relayout('graph', { annotations: annotations })
        });
    </script>
</body>

</html>