{% load static%}

<!DOCTYPE HTML>

<html lang="en">

<head>
    <title>EcoSonos</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ecosonos/assets/css/main.css' %}" />
    <style>
        #progress-bar {
            background-color: #4CAF50;
            height: 20px;
            width: 0%;
        }
    </style>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <div class="logoup"><a href="{% url 'index' %}"><img
                        src="{% static 'ecosonos/images/logo_econosonos.png' %}"></a></div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li> <a href="{% url 'preproceso' %}">Lluvia/Archivo Corrupto</a></li>
                    <li><a href="{% url 'indices' %}">Índices Acústicos</a></li>
                    <li><a href="{% url 'etiquetado' %}">Segmentación Manual</a></li>
                    <li><a href="{% url 'etiquetado-auto' %}">Sonotipos</a></li>
                    <li class="current"><a href="{% url 'conectividad' %}">Heterogeneidad Acústica</a></li>
                </ul>
            </nav>

        </div>

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>EcoSonos: <em>Observación a través del sonido</em></h2>
                <a href="#" class="button">Conocer más</a>
            </header>
        </section>

        <!-- Descripción Módulo -->
        <section class="wrapper style2">
            <div class="container">
                <header class="major">
                    <h2
                        style="font-family: hocus_regularregular; letter-spacing: 0.1em; font-size: 4em; line-height: 0.2em; color: #19a173;">
                        HETEROGENEIDAD ACÚSTICA</h2>
                    <p>Este módulo permite representar sobre un mapa geográfico el valor de una medida (entre 0-1) que
                        se estima para cada punto de muestreo. También realiza la interpolación entre los puntos, de tal
                        manera que se obtiene una capa que representa la medida que se estimó en cada punto y permite
                        comparar la heterogeneidad entre puntos de muestreo.</p>
                </header>
            </div>
        </section>

        <!-- Posts -->
        <section class="wrapper style1 wrappeados">
            <div class="container">
                <div class="row">
                    <section class="col-12 col-12-narrower">
                        <form class="filtros" method="POST" action="">
                            {% csrf_token %}
                            <section class="col-12 col-12-narrower">
                                <div class="row gtr-50 campostxt">
                                    <div class="col-6 col-12-mobilep">
                                        <label for="hoja_excel">Nombre de la Hoja de Excel</label>
                                        <input type="text" name="hoja_excel" id="hoja_excel"
                                            placeholder="Hoja de excel" />
                                    </div>
                                    <div class="col-6 col-12-mobilep">
                                        <label for="latitud">Nombre del campo de latitud</label>
                                        <input type="text" name="latitud" id="latitud" placeholder="Latitud" />
                                    </div>
                                    <div class="col-6 col-12-mobilep">
                                        <label for="longitud">Nombre del campo de longitud</label>
                                        <input type="text" name="longitud" id="longitud" placeholder="Longitud" />
                                    </div>
                                </div>
                                <div class="contenidos button-excel">
                                    <input type="submit" value="Seleccionar Archivo xlsx" id="cargar"
                                        name="cargar"></input>
                                </div>
                            </section>
                            <section class="col-12 col-12-narrower">
                                <div id="app">
                                    <div  class="custom-tiny">
                                       <time-slider :ds="{ w:1713, h:55, y:0.7125, tmy:0.21, tsz:0.06, lby:0.91, mv:0.41 }" :n="{ t:172.5, l:167, k:1000 }" :tick-count=23 color-main='#19a173' color='#fff' v-on:current-time="shiftTime($event)" ></time-slider> 
                                    </div>  
                                </div>
                            </section>
                        </form>

                        {% for fig_url in fig_urls %}
                        <iframe src="{{ fig_url }}" width="100%" height="500"></iframe>
                        {% endfor %}
                    </section>

                    <!-- <section class="col-12 col-12-narrower">
                        <div class="chart">
                            <div class="bar"></div>
                            <span id="value1">0%</span>
                        </div>
                    </section> -->

                </div>
            </div>
        </section>

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <!-- Creditos -->
                <section id="cta2" class="wrapper2 style3">
                    <div class="container">
                        <div class="logos participantes">
                            <img src="{% static 'ecosonos/images/u_antioquia.png' %}">
                        </div>
                        <div class="logos participantes">
                            <img src="{% static 'ecosonos/images/ITM.png' %}">
                        </div>
                        <div class="logos participantes">
                            <img src="{% static 'ecosonos/images/humboldt_v1.png' %}">
                        </div>
                        <div class="logos texto">
                            <p>Apoya:</p>
                        </div>
                        <div class="logos participantes">
                            <img src="{% static 'ecosonos/images/Ciencias.png' %}">
                        </div>
                    </div>
                </section>
            </div>



            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Todos los derechos reservados</li>
                    <li>Diseño: <a href="#">Grupo Investigación</a></li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Scripts -->
    <script src="{% static 'ecosonos/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/browser.min.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/util.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/main.js' %}"></script>
    <script src="{% static 'indices/indicesProgressBar.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/timeslider_1.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/timeslider_2.js' %}"></script>
    <script src="{% static 'ecosonos/assets/js/timeslider_3.js' %}"></script>

    <!-- <script src="{% static 'indices/selectAll.js' %}"></script> -->

</body>

</html>