{% load static %}
<!DOCTYPE HTML>

<html lang="en">

<head>
	<title>EcoSonos</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'ecosonos/assets/css/main.css' %}" />
	<style>
		#load {
			animation-name: load;
			animation-duration: 2s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
		}
	</style>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Logo -->
			<div class="logoup"><a href="{% url 'index' %}"><img
						src="{% static 'ecosonos/images/logo_econosonos.png' %}"></a></div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"> <a href="{% url 'preproceso' %}">Lluvia/Archivo Corrupto</a></li>
					<li><a href="{% url 'indices' %}">Índices Acústicos</a></li>
					<li><a href="{% url 'etiquetado' %}">Segmentación Manual</a></li>
					<li><a href="{% url 'etiquetado-auto' %}">Sonotipos</a></li>
					<li><a href="{% url 'conectividad' %}">Heterogeneidad Acústica</a></li>
				</ul>
			</nav>

		</div>

		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>EcoSonos: <em>Observación a través del sonido</em></h2>
				<a href="#" class="button">Conocer más</a>
			</header>
		</section>
		<!-- Descripción Módulo -->
		<section class="wrapper style2">
			<div class="container">
				<header class="major">
					<h2
						style="font-family: hocus_regularregular; letter-spacing: 0.1em; font-size: 4em; line-height: 0.2em; color: #19a173;">
						LLUVIA/ARCHIVO CORRUPTO</h2>
					<p>Este módulo permite identificar los audios que presentan patrón de comportamiento en frecuencia
						similar al que se tiene en presencia de lluvia. Además, detecta los archivos corruptos y las
						grabaciones con duración de más de un minuto. Los resultados se visualizan en gráficas que
						indican en el tiempo los archivos que presentaron lluvia o están corruptos.</p>
				</header>
			</div>
		</section>
		<!-- Posts -->
		<section class="wrapper style1 wrappeados">
			<div class="container">
				<div class="row">
					<section class="col-12 col-12-narrower">
						<div class="contenidos">

							{% if not folders_details %}
							<!-- Form seleccionar carpeta principal -->
							<form id="cargar_carpeta" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<p>Seleccionar la carpeta raiz que contiene los archivos (.wav)</p>
								<div class="thebuttons">
									<input type="submit" value="Seleccionar Carpeta Principal" id="cargar"
										name="cargar"></input>

									<!-- Popup seleccionar carpeta principal -->
									<a href="#popup1" class="button-help">?</a>
									<div id="popup1" class="overlay">
										<div class="popup">
											<h2>Ayuda - Seleccionar carpeta principal</h2>
											<a class="close" href="#">&times;</a>
											<div class="content">
												<p>Permite buscar en el equipo la carpeta de origen donde se almacenan
													los archivos de audio que serán procesados.</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Checkbox Estadisticas -->
								<div class="checks especialchecks">
									{% if statistics %}
									<input type="checkbox" id="estadisticas" name="estadisticas" value="estadisticas"
										checked></input>
									{% else %}
									<input type="checkbox" id="estadisticas" name="estadisticas"
										value="estadisticas"></input>
									{% endif %}
									<label for="estadisticas">Estadísticas</label>
								</div>
							</form>
							{% endif %}

							{% if folders_details %}
							<form id="carpeta_destino" method="POST" enctype="multipart/form-data">

								{% if not carpetas_procesando %}
								{% if statistics %}
								<div>
									{% if folders_details|length == 1 %}
									<h1>Carpeta seleccionada</h1>

									{% for folder_detail in folders_details %}
									<div class="carpetas-cargadas">
										<input type="checkbox" name="carpetas" value="{{ folder_detail.folder_path }}"
											checked>
										<label for="carpetas">{{ folder_detail.folder_name }} - Numero de Archivos:
											{{folder_detail.number_of_files}} -
											Rango de duracion: {{folder_detail.range_of_lengths}} -
											Rango de fechas: {{folder_detail.range_of_dates}}</label>
									</div>
									{% endfor %}

									{% else %}
									<h1>Seleccionar subcarpetas a procesar</h1>
									{% for folder_detail in folders_details %}
									<div class="carpetas-cargadas">
										<input type="checkbox" name="carpetas" value="{{ folder_detail.folder_path }}"
											checked>
										<label for="carpetas">{{ folder_detail.folder_name }} - Numero de Archivos:
											{{folder_detail.number_of_files}} -
											Rango de duracion: {{folder_detail.range_of_lengths}} -
											Rango de fechas: {{folder_detail.range_of_dates}}</label>
									</div>
									{% endfor %}
									{% endif %}
								</div>
								{% else %}

								{% if folders_details|length == 1 %}
								<h1>Carpeta seleccionada</h1>

								{% for folder_detail in folders_details %}
								<div class="carpetas-cargadas">
									<input type="checkbox" name="carpetas" value="{{ folder_detail.folder_path }}"
										checked>
									<label for="carpetas">{{ folder_detail.folder_name }}</label>
								</div>
								{% endfor %}

								{% else %}
								<h1>Seleccionar subcarpetas a procesar</h1>

								{% for folder_detail in folders_details %}
								<div class="carpetas-cargadas">
									<input type="checkbox" name="carpetas" value="{{ folder_detail.folder_path }}"
										checked>
									<label for="carpetas">{{ folder_detail.folder_name }}</label>
								</div>
								{% endfor %}
								{% endif %}

								<div class="thebuttons">
									<button type="button" id="swapFire" class="btn btn-primary showFire" name="false">
										<span class="glyphicon glyphicon-folder-close"></span> Deseleccionar Carpetas
									</button>
								</div>
								{% endif %}

								{% endif %}
								<div class="thebuttons">
									{% if not carpetas_procesando %}
									{% csrf_token %}
									<input type="submit" value="Seleccionar Carpeta Destino" id="destino"
										name="destino"></input>
									<a href="#popup1" class="button-help">?</a>
									<div id="popup1" class="overlay">
										<div class="popup">
											<h2>Ayuda - Seleccionar carpeta principal</h2>
											<a class="close" href="#">&times;</a>
											<div class="content">
												<p>Permite buscar en el equipo la carpeta de origen donde se almacenan
													los archivos de audio que serán procesados.</p>
											</div>
										</div>
									</div>
									{% endif %}
								</div>
							</form>
							{% endif %}

							{% if carpetas_procesando %}

							{% if carpeta_principal_seleccionada %}
							<h1>Carpeta principal seleccionada: {{carpeta_principal_seleccionada}}</h1>
							<h1>Carpeta destino seleccionada: {{carpeta_destino_seleccionada}}</h1>
							{% endif %}

							{% if seleccionadas %}
							Carpetas seleccionadas
							<ul>
								{% for procesando in carpetas_procesando %}

								<li>
									<label>{{procesando}}</label>
								</li>

								{% endfor %}
							</ul>
							{% endif %}


							<!-- Form procesar carpetas -->
							<form method="POST">
								{% csrf_token %}
								<input type="submit" value="Procesar Carpetas con Lluvia" id="procesar_carpetas"
									name="procesar_carpetas"
									style="display: {{button_disable_process|default:'block' }};"></input>
								<a href="#popup1" class="button-help">?</a>
								<!-- <a href="#popup1" class="button-help"
									style="display: {{button_disable_process|default:'block' }};">?</a> -->

								<!-- Popup procesar carpetas -->
								<div id="popup1" class="overlay">
									<div class="popup">
										<h2>Ayuda - Seleccionar carpeta principal</h2>
										<a class="close" href="#">&times;</a>
										<div class="content">
											<p>Permite buscar en el equipo la carpeta de origen donde se almacenan los
												archivos de audio que serán procesados.</p>
										</div>
									</div>
								</div>
							</form>

							{% if carpetas_procesando %}

							{% if not seleccionadas %}
							Procesando

							<ul>
								{% for procesando in carpetas_procesando %}
								<li>
									<label>{{procesando}}</label>
								</li>
								{% endfor %}
							</ul>

							{% endif %}
							{% endif %}

							<br>

							<section>
								<div class="chart">
									<div class="bar"></div>
									<span id="value1">0%</span>
								</div>
							</section>
							{% endif %}
						</div>
					</section>

					<div id="div-mover-mostrar" style="display: none;">
						<section class="col-12 col-12-narrower">
							<div class="contenidos">
								<p class="warningtext"><span>¡Importante!</span> Si pulsa cualquiera de las opciones de
									mover el sistema desplazará sus archivos a una nueva ubicación.</p>
								<form id="mover_lluvia_form" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="thebuttons">
										<input type="submit" value="Mover Archivos con Lluvia" id="mover_archivos"
											name="mover_archivos"></input>
										<a href="#popup1" class="button-help">?</a>
										<div id="popup1" class="overlay">
											<div class="popup">
												<h2>Ayuda - Seleccionar carpeta principal</h2>
												<a class="close" href="#">&times;</a>
												<div class="content">
													<p>Permite buscar en el equipo la carpeta de origen donde se
														almacenan
														los archivos de audio que serán procesados.</p>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="mover_danado_form" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="thebuttons">
										<input type="submit" class="botmalos" value="Mover Archivos Dañados"
											id="mover_malos" name="mover_archivos" {{ button_disable|default:''
											}}></input>
										<a href="#popup1" class="button-help">?</a>
										<div id="popup1" class="overlay">
											<div class="popup">
												<h2>Ayuda - Seleccionar carpeta principal</h2>
												<a class="close" href="#">&times;</a>
												<div class="content">
													<p>Permite buscar en el equipo la carpeta de origen donde se
														almacenan
														los archivos de audio que serán procesados.</p>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</section>
						<section class="col-12 col-12-narrower">
							<form id="grafica_form" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="submit" value="Mostrar gráfica" id="mostrar_grafica"
									name="mostrar_grafica"></input>
								<a href="#popup1" class="button-help">?</a>
								<div id="popup1" class="overlay">
									<div class="popup">
										<h2>Ayuda - Seleccionar carpeta principal</h2>
										<a class="close" href="#">&times;</a>
										<div class="content">
											<p>Permite buscar en el equipo la carpeta de origen donde se almacenan los
												archivos de audio que serán procesados.</p>
										</div>
									</div>
								</div>
							</form>
						</section>
					</div>
					<section class="col-12 col-12-narrower">
						<div id="grafica_div" style="height: 100%; width: 100%;">
					</section>
				</div>
				<!-- {% if plot %}
					{{ plot|safe }}
					{% endif %} -->
			</div>
	</div>
	</section>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<!-- Creditos -->
			<section id="cta2" class="wrapper2 style3">
				<div class="container">
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/u_antioquia.png' %}">
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/ITM.png' %}">
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/humboldt_v1.png' %}">
					</div>
					<div class="logos texto">
						<p>Apoya:</p>
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/Ciencias.png' %}">
					</div>
				</div>
			</section>
		</div>



		<!-- Copyright -->
		<div class="copyright">
			<ul class="menu">
				<li>&copy; Todos los derechos reservados</li>
				<li>Diseño: <a href="#">Grupo Investigación</a></li>
			</ul>
		</div>

	</div>

	</div>

	<!-- Scripts -->
	<script src="{% static 'ecosonos/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/util.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/main.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/button-show-hide-carpetas.js' %}"></script>
	<!-- <script src="{% static 'procesamiento/submitCargarForm.js' %}"></script>
	<script src="{% static 'procesamiento/destinoUtils.js' %}"></script>-->
	<script src="{% static 'procesamiento/submitMoverLluviaForm.js' %}"></script>
	<script src="{% static 'procesamiento/submitMoverDanadoForm.js' %}"></script>
	<script src="{% static 'procesamiento/submitGraficaForm.js' %}"></script>
	<script src="{% static 'procesamiento/progressBar.js' %}"></script>

</body>

</html>