<section class="col-12 col-12-narrower">
    <form class="filtros" method="POST" action="">
        {% csrf_token %}
        <section class="col-12 col-12-narrower">
            <div class="contenidos">
                <input type="submit" value="Seleccionar Carpeta Principal" id="cargar" name="cargar"></input>
            </div>
        </section>
    </form>

    <br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Seleccionar Carpeta Destino" id="destino" name="destino"></input>
    </form>

    {% if folders_details %}
    <form method="POST">
        {% csrf_token %}
        <div>
            {% for folder_details in folders_details %}
            <div class="carpetas-cargadas">
                <input type="checkbox" name="carpetas" value="{{ folder_details.folders_path }}" checked>
                <label for="carpetas">{{ folder_details.folders_basename }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="row gtr-50 campostxt">
            <div class="col-6 col-12-mobilep">
                <label for="frecuenciaminima">Frecuencia Mínima</label>
                <input type="text" name="frecuenciaminima" id="frecuenciaminima"
                    placeholder="Ingrese frecuencia mínima" />
            </div>
            <div class="col-6 col-12-mobilep">
                <label for="frecuenciaminima">Frecuencia Máxima</label>
                <input type="text" name="frecuenciamaxima" id="frecuenciamaxima"
                    placeholder="Ingrese frecuencia máxima" />
            </div>
        </div>
        </br>
        <input type="submit" value="Procesar Carpetas" id="procesar_carpetas" name="procesar_carpetas"></input>
    </form>
    {% endif %}

    <form class="carpetaprincipal" , method="POST">
        {% csrf_token %}
        <div>
            <ul id="lista_audios">

            </ul>
        </div>
    </form>

    {% if files_details %}
    <form class="carpetaprincipal" method="POST">
        {% csrf_token %}

        <div>
            <ul>
                {% for file in files_details %}
                <li><a href="{% url 'espectrograma' path=file.path %} ">{{file.basename}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </form>
    {% endif %}

    {% if carpetas_procesando %}

    Procesando
    {% for procesando in carpetas_procesando %}

    <ul>
        <li>
            <label>{{procesando}}</label>
        </li>
    </ul>

    {% endfor %}
    <input type="submit" value="Procesar Carpetas" id="procesar_carpetas" name="procesar_carpetas"></input>

    {% endif %}
</section>

<section class="col-12 col-12-narrower">
    <div class="chart">
        <div class="bar"></div>
        <!-- Change the value below -->
        <span id="value1">0%</span>
    </div>
</section>