{% load static %}

<html>

<head>
	<title>EcoSonos</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'ecosonos/assets/css/main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet'
		href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swapps://github.com/produle/MockFlowFont/blob/master/MockFlowFont1/dist/MockFlowFont1.woff'>
	<link rel='stylesheet' href='https://assets.css-tricks.ir/font/font.css'>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Logo -->
			<div class="logoup"><a href="{% url 'index' %}"><img
						src="{% static 'ecosonos/images/logo_econosonos.png' %}"></a></div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li> <a href="{% url 'preproceso' %}">Lluvia/Archivo Corrupto</a></li>
					<li><a href="{% url 'indices' %}">Índices Acústicos</a></li>
					<li><a href="{% url 'etiquetado' %}">Segmentación Manual</a></li>
					<li><a href="{% url 'etiquetado-auto' %}">Sonotipos</a></li>
					<li><a href="{% url 'conectividad' %}">Heterogeneidad Acústica</a></li>
				</ul>
			</nav>

		</div>

		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>EcoSonos: <em>Observación a través del sonido</em></h2>
				<a href="#popup1" class="button">Conocer más</a>
				<div id="popup1" class="overlay">
					<div class="popup">
						<h2>Ayuda 1</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							<p>Funciona al dar clic sobre el botón.</p>
						</div>
					</div>
				</div>
			</header>
		</section>
		<!-- Descripción -->
		<section class="wrapper style2">
			<div class="container">
				<header class="major">
					<h2
						style="font-family: hocus_regularregular; letter-spacing: 0.1em; font-size: 4em; line-height: 0.2em; color: #19a173;">
						ECOSONOS</h2>
					<p>Herramienta computacional para hacer del escuchar un observar. La herramienta permite analizar el
						paisaje acústico para entender que está sucediendo en el ecosistema identificando
						automáticamente la presencia de cantos de animales en las diferentes frecuencias (desde 300Hz
						hasta 80kHhz) y reconociendo los cantos de especies para las que fue entrenado el algoritmo de
						inteligencia artificial. También permite analizar el paisaje acústico de una manera global,
						estimando índices acústicos. Con esta información el software estima similitud acústica entre
						los puntos geográficos que se quieren analizar a través del audio</p>
				</header>
			</div>
		</section>

		<!-- Creditos -->
		<section id="cta" class="wrapper2 style3">
			<div class="container">
				<div class="logos participantes">
					<img src="{% static 'ecosonos/images/u_antioquia.png' %}">
				</div>
				<div class="logos participantes">
					<img src="{% static 'ecosonos/images/ITM.png' %}">
				</div>
				<div class="logos participantes">
					<img src="{% static 'ecosonos/images/humboldt_v1.png' %}">
				</div>
				<div class="logos texto">
					<p>Apoya:</p>
				</div>
				<div class="logos participantes">
					<img src="{% static 'ecosonos/images/Ciencias.png' %}">
				</div>
			</div>
		</section>

		<!-- Procesos -->
		<section class="wrapper">
			<div class="container">
				<!-- opciones:index.opciones.html -->
				<ul class="cards">
					<li>
						<a href="{% url 'preproceso' %}" class="card">
							<img src="{% static 'ecosonos/images/muestra_01.jpg' %}" class="card__image" alt="" />
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
										<path />
									</svg>
									<img class="card__thumb" src="{% static 'ecosonos/images/icono_sound_wave.png' %}"
										alt="" />
									<div class="card__header-text">
										<h3 class="card__title">Lluvia/Archivo Corrupto</h3>
										<span class="card__status">Ecosonos</span>
									</div>
								</div>
								<p class="card__description">Este módulo permite identificar los audios que presentan...
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="{% url 'indices' %}" class="card">
							<img src="{% static 'ecosonos/images/muestra_02.jpg' %}" class="card__image" alt="" />
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
										<path />
									</svg>
									<img class="card__thumb" src="{% static 'ecosonos/images/icono_sound_wave.png' %}"
										alt="" />
									<div class="card__header-text">
										<h3 class="card__title">Índices Acústicos</h3>
										<span class="card__status">Ecosonos</span>
									</div>
								</div>
								<p class="card__description">Este módulo estima 54 índices acústicos de los audios
									usando la librería scikit-maad</p>
							</div>
						</a>
					</li>
					<li>
						<a href="{% url 'etiquetado' %}" class="card">
							<img src="{% static 'ecosonos/images/muestra_03.jpg' %}" class="card__image" alt="" />
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
										<path />
									</svg>
									<img class="card__thumb" src="{% static 'ecosonos/images/icono_sound_wave.png' %}"
										alt="" />
									<div class="card__header-text">
										<h3 class="card__title">Segmentación Manual</h3>
										<span class="card__status">Ecosonos</span>
									</div>
								</div>
								<p class="card__description">Este módulo permite visualizar el espectrograma del audio
									que se elija y marcar los...</p>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="card">
							<img src="{% static 'ecosonos/images/muestra_04.jpg' %}" class="card__image" alt="" />
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
										<path />
									</svg>
									<img class="card__thumb" src="{% static 'ecosonos/images/icono_sound_wave.png' %}"
										alt="" />
									<div class="card__header-text">
										<h3 class="card__title">Heterogeneidad Acústica</h3>
										<span class="card__status">Ecosonos</span>
									</div>
								</div>
								<p class="card__description">Este módulo permite representar sobre un mapa geográfico el
									valor de una...</p>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="card">
							<img src="{% static 'ecosonos/images/muestra_05.jpg' %}" class="card__image" alt="" />
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
										<path />
									</svg>
									<img class="card__thumb" src="{% static 'ecosonos/images/icono_sound_wave.png' %}"
										alt="" />
									<div class="card__header-text">
										<h3 class="card__title">Sonotipos</h3>
										<span class="card__status">Ecosonos</span>
									</div>
								</div>
								<p class="card__description">Este módulo sugiere automáticamente segmentos donde
									posiblemente hay...</p>
							</div>
						</a>
					</li>
				</ul>
				<!-- opciones -->
			</div>
		</section>


		<!-- CTA -->
		<section id="cta" class="wrapper style3">
			<div class="container">
				<header>
					<h2>¿Cómo puedo cargar un audio?</h2>
					<a href="#" class="button">¡Te Explicamos!</a>
				</header>
			</div>
		</section>

		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<section class="col-3 col-6-narrower col-12-mobilep">
						<h3>Enlaces 1</h3>
						<ul class="links">
							<li><a href="#">Mattis et quis rutrum</a></li>
							<li><a href="#">Suspendisse amet varius</a></li>
							<li><a href="#">Sed et dapibus quis</a></li>
							<li><a href="#">Rutrum accumsan dolor</a></li>
							<li><a href="#">Mattis rutrum accumsan</a></li>
							<li><a href="#">Suspendisse varius nibh</a></li>
							<li><a href="#">Sed et dapibus mattis</a></li>
						</ul>
					</section>
					<section class="col-3 col-6-narrower col-12-mobilep">
						<h3>Enlaces 2</h3>
						<ul class="links">
							<li><a href="#">Duis neque nisi dapibus</a></li>
							<li><a href="#">Sed et dapibus quis</a></li>
							<li><a href="#">Rutrum accumsan sed</a></li>
							<li><a href="#">Mattis et sed accumsan</a></li>
							<li><a href="#">Duis neque nisi sed</a></li>
							<li><a href="#">Sed et dapibus quis</a></li>
							<li><a href="#">Rutrum amet varius</a></li>
						</ul>
					</section>
					<section class="col-6 col-12-narrower">
						<h3>¡Contáctanos!</h3>
						<form>
							<div class="row gtr-50">
								<div class="col-6 col-12-mobilep">
									<input type="text" name="name" id="name" placeholder="Nombre" />
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="email" name="email" id="email" placeholder="Email" />
								</div>
								<div class="col-12">
									<textarea name="message" id="message" placeholder="Mensaje" rows="5"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" class="button alt" value="Enviar" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>

			<!-- Creditos -->
			<section id="cta2" class="wrapper2 style3">
				<div class="container">
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/u_antioquia.png' %}">
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/ITM.png' %}">
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/humboldt_v1.png' %}">
					</div>
					<div class="logos texto">
						<p>Apoya:</p>
					</div>
					<div class="logos participantes">
						<img src="{% static 'ecosonos/images/Ciencias.png' %}">
					</div>
				</div>
			</section>

			<!-- Copyright -->
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Todos los derechos reservados</li>
					<li>Diseño: <a href="#">Grupo Investigación</a></li>
				</ul>
			</div>

		</div>

	</div>

	<!-- Scripts -->
	<script src="{% static 'ecosonos/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/util.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/main.js' %}"></script>
	<script src="{% static 'ecosonos/assets/js/opcionesscript.js' %}"></script>

</body>

</html>